.list,
.list li:before,
blockquote cite,
p {
	color: #7f7f7f
}

.contain,
nav li {
	transition: padding .4s
}

.button,
.caption,
.lead,
.portfolio .filler p {
	text-align: center
}

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWw.ttf) format('truetype')
}

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwiPHA.ttf) format('truetype')
}

@font-face {
	font-family: 'League Spartan';
	src: url(../fonts/leaguespartan-bold.eot);
	src: url(../fonts/leaguespartan-bold.eot?#iefix) format('embedded-opentype'), url(../fonts/leaguespartan-bold.woff2) format('woff2'), url(../fonts/leaguespartan-bold.woff) format('woff'), url(../fonts/leaguespartan-bold.ttf) format('truetype'), url(../fonts/leaguespartan-bold.svg#league_spartanbold) format('svg');
	font-weight: 700;
	font-style: normal
}

.screen-reader {
	position: absolute!important;
	margin: -1px;
	border: 0;
	padding: 0!important;
	width: 1px!important;
	height: 1px!important;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	user-select: none;
}

.screen-reader:active,
.screen-reader:hover {
	position: static;
	margin: 0;
	width: auto;
	height: auto;
	overflow: visible;
	clip: auto
}

*,
:after,
:before {
	margin: 0;
	padding: 0;
	box-sizing: inherit
}

a {
	text-decoration: none;
	color: inherit
}

ol,
ul {
	list-style-type: none
}

figure,
img,
video {
	display: block
}

img,
video {
	width: 100%;
	max-width: 100%
}

.list,
article,
footer,
header,
section {
	display: -webkit-flex;
	display: -ms-flexbox;
	-webkit-flex-direction: column
}

.contain,
article,
footer,
header,
section {
	-ms-flex-direction: column;
	display: flex
}

a,
blockquote p,
body,
p .emoji,
strong {
	color: rgba(0, 0, 0, 1)
}

article,
footer,
header,
section {
	position: relative;
	flex-direction: column;
	padding: 7.2rem 0 14.4rem
}

header {
	padding: 7.2rem 0 4.8rem
}

.list,
.split,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	max-width: 57.6rem
}

p+p {
	margin-top: 1em
}

.content p {
	width: 100%;
}

main>header {
	padding: 7.2rem 0
}

[data-page=work] .cover {
	padding: 9.6rem 0 14.4rem
}

footer {
	border-top: .2rem solid rgba(0, 0, 0, .05)
}

hr {
	width: 100%;
	height: 0;
	border: none;
	background: transparent;
	margin-bottom: 7.2rem;
	border-top: .2rem solid rgba(0, 0, 0, .05)
}

a {
	font-weight: 700;
	border-bottom: .2rem solid currentColor
}

.list {
	font-size: 125%
}

.split {
  display: flex;
  margin: 2em auto;
}

.split .composition {
  padding: 1em;
}

.contain,
.content {
	-webkit-flex-direction: column
}

.list li:before {
	content: '—';
	position: absolute;
	left: 0;
	margin-left: -4.8rem
}

.contain,
.feature,
blockquote {
	position: relative
}

.contain {
	flex-direction: column;
	margin-right: auto;
	margin-left: auto;
	padding: 0 7.2rem;
	width: 100%;
	max-width: calc(128rem + 14.4rem)
}

.content {
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

blockquote,
footer .content {
	display: -webkit-flex;
	display: -ms-flexbox
}

.feature {
	background: rgba(0, 0, 0, .05)
}

#about {
	position: relative;
	margin: 14.4rem 0 0;
	padding: 4.8rem 0 0
}

blockquote+blockquote,
section+section {
	padding-top: 0
}

blockquote footer {
	padding: 0;
	border: 0
}

blockquote {
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 7.2rem 0 7.2rem 4.8rem;
	width: 100%;
	max-width: 57.6rem
}

blockquote p {
	width: 100%;
}

.brand,
nav {
	display: flex;
	justify-content: center
}

blockquote::before {
	content: '“';
	position: absolute;
	font-family: 'League Spartan';
	left: 0;
	font-size: 150%;
	color: rgba(0, 0, 0, .25)
}

/* blockquote p::after {
	content: '”';
	margin-left: .2em
} */

blockquote cite {
	font-size: 66.666%;
	font-style: inherit;
	margin-top: 2.4rem
}

figure.circle {
  width: 7.2rem;
	height: 7.2rem;
  border-radius: 999px;
  overflow: hidden;
  display: inline-flex;
  margin-top: 7.2rem;
}

figure.circle + blockquote {
  padding-top: 2.4rem;
}

::-moz-selection {
	background: rgba(0, 0, 0, .125)
}

::selection {
	background: rgba(0, 0, 0, .125)
}

@media (max-width:1023px) {
	.contain {
		padding: 0 4.8rem
	}
	[data-page=work] .cover {
		padding: 7.2rem 0 9.6rem
	}
}

@media (max-width:960px) {
	.portfolio .contain {
		padding: 0 3.2rem
	}
}

@media (max-width:720px) {
	.portfolio .contain {
		padding: 0 4.8rem
	}
}

@media (max-width:520px) {
	main>header {
		padding: 4.8rem 0
	}
	.contain,
	.portfolio .contain {
		padding: 0 3.2rem
	}
	article,
	footer,
	section {
		padding: 4.8rem 0 9.6rem
	}
	header {
		padding: 4.8rem 0 3.2rem
	}
	blockquote {
		padding: 4.8rem 0 4.8rem 4.8rem
	}
}

@media (max-width:480px) {
	.contain,
	.portfolio .contain {
		padding: 0 2.4rem
	}
}

@media (max-width:320px) {
	.contain,
	.portfolio .contain {
		padding: 0 2.1rem
	}
}

html {
	box-sizing: border-box;
	font-size: 62.5%
}

body {
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Lato, sans-serif;
	font-size: 2.1rem;
	line-height: 1.5;
	letter-spacing: .033em
}

blockquote p,
h1,
h2,
h3,
h4,
h5,
h6,
header,
nav {
	font-family: 'League Spartan', sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6,
header,
nav {
	letter-spacing: 0;
	text-align: center;
	transition: font-size .4s
}

h1 {
	text-align: left;
	font-size: 3.6rem;
	max-width: 92rem;
}

h2 {
	font-size: 3.2rem
}

p .emoji {
	opacity: 1;
	font-style: normal
}

.lead {
	font-size: 125%
}

.caption {
	font-size: 75%
}

nav {
	font-size: 1.6rem;
	text-transform: lowercase;
	background: 0 0;
	align-items: center;
	padding: 4.8rem 0
}

.portfolio header {
	color: #fff
}

.portfolio .filler p,
nav ul a {
	color: rgba(0, 0, 0, .25)
}

.portfolio .client {
	font-size: 1.6rem;
	letter-spacing: .033em
}

.portfolio .filler p {
	font-size: 1.6rem
}

[data-page=index] .portfolio h1 {
	font-size: 3.6rem
}

[data-page=index] header h1 {
	align-self: flex-start;
}

[data-page=work] .cover h1 {
	font-size: 7.2rem
}

[data-page=index] .portfolio .client {
	font-size: 1.6rem
}

@media (max-width:960px) {
	[data-page=index] .portfolio h1 {
		font-size: 3.2rem
	}
	[data-page=work] .cover h1 {
		font-size: 4.8rem
	}
	[data-page=index] .portfolio .client {
		font-size: 1.4rem
	}
}

@media (max-width:720px) {
	h1 {
		font-size: 4.2rem
	}
	h2 {
		font-size: 2.8rem
	}
	body {
		font-size: 1.8rem
	}
	[data-page=index] .portfolio h1 {
		font-size: 3.6rem
	}
	[data-page=work] .cover h1 {
		font-size: 4.2rem
	}
	[data-page=index] .portfolio .client {
		font-size: 1.6rem
	}
	footer {
		font-size: 2.1rem
	}
}

@media (max-width:580px) {
	h1 {
		font-size: 3.6rem
	}
	[data-page=index] .portfolio h1 {
		font-size: 3.2rem
	}
	[data-page=work] .cover h1 {
		font-size: 3.6rem
	}
	[data-page=index] .portfolio .client {
		font-size: 1.6rem
	}
}

@media (max-width:520px) {
	h1 {
		font-size: 3.2rem
	}
	nav {
		font-size: 1.4rem
	}
	[data-page=index] .portfolio h1 {
		font-size: 2.8rem
	}
	[data-page=work] .cover h1 {
		font-size: 3.2rem
	}
	[data-page=index] .portfolio .client {
		font-size: 1.4rem
	}
	.list {
		font-size: 100%
	}
}

@media (max-width:480px) {
	h1 {
		font-size: 2.8rem
	}
	nav {
		padding: 3.2rem 0
	}
}

@media (max-width:384px) {
	[data-page=index] .portfolio h1,
	h1,
	h2 {
		font-size: 2.4rem
	}
	body {
		font-size: 1.6rem
	}
}

@media (max-width:336px) {
	[data-page=index] .portfolio h1,
	h1,
	h2 {
		font-size: 2.1rem
	}
	[data-page=work] .cover h1 {
		font-size: 2.8rem
	}
}

nav .contain {
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	width: 100%
}

.brand {
	align-items: center;
	font-size: 150%
}

[data-page=index] nav .contain {
	justify-content: center
}

[data-page=index] .brand {
	display: none
}

nav a,
nav ul {
	display: flex
}

nav ul {
	line-height: 4.8rem;
	display: none;
}

nav li {
	padding: 0 1.2rem
}

nav a {
	border: 0;
	transition: color .2s
}

[data-touch=false] nav a:hover,
[data-touch=true] nav a:active,
nav a.active {
	color: rgba(0, 0, 0, 1)
}

[data-page]:not([data-page=index]) nav li:last-child {
	padding-right: 0
}

@media (max-width:336px) {
	nav li {
		padding: 0 .8rem
	}
}

.button {
	font-family: Lato;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 4.8rem 0;
	padding: 0 2.4rem;
	border: .2rem solid rgba(0, 0, 0, 1);
	border-radius: 999rem;
	height: 4.8rem;
	font-size: 80%;
	text-transform: uppercase;
	user-select: none;
	white-space: nowrap;
	transition: background-color .4s, color .4s, height .4s, padding .4s
}

.button.live::before {
	content: '→';
	margin-right: .5em
}

.button.disabled {
	opacity: .5;
	border-style: dashed;
	pointer-events: none
}

.circle {
	padding: 0;
	width: 4.8rem
}

.social .button {
	font-size: 100%;
	text-transform: lowercase
}

.social .button i {
	margin-left: .2rem;
	margin-top: .2rem
}

[data-touch=false] .button:hover,
[data-touch=true] .button:active {
	background: rgba(0, 0, 0, 1);
	color: #fff
}

@media (max-width:580px) {
	.button {
		height: 4.2rem;
		padding: 0 2.1rem
	}
	.circle {
		padding: 0;
		width: 4.2rem
	}
}

.screen:empty {
	position: relative;
	max-width: 100%;
	background-size: 100%;
	background-position: center 0;
	background-repeat: no-repeat;
	z-index: 2
}

[data-device] {
	position: relative;
	z-index: 1;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

[data-device=phone] .screen.scroll {
	padding-top: 160%;
}

[data-device=tablet] .screen.scroll {
	padding-top: 75%;
}

[data-device=notebook] .screen.scroll {
	padding-top: 62.5%;
}

.screen.scroll {
	position: relative
}

.screen.scroll img {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;

}

.scroll img {
	transition-timing-function: cubic-bezier(.6, 0, .3, 1);
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}

[data-project=barbecues] .scroll img {
	-webkit-animation-name: scroll-barbecues;
	animation-name: scroll-barbecues;
	-webkit-animation-duration: 16s;
	animation-duration: 16s;
	-webkit-animation-delay: 2s;
	animation-delay: 2s
}

[data-project=scoreboard] .scroll img {
	-webkit-animation-name: scroll-scoreboard;
	animation-name: scroll-scoreboard;
	-webkit-animation-duration: 24s;
	animation-duration: 24s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s
}

[data-project=adoption] .scroll img {
	-webkit-animation-name: scroll-adoption;
	animation-name: scroll-adoption;
	-webkit-animation-duration: 20s;
	animation-duration: 20s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s
}

@-webkit-keyframes scroll-barbecues {
	0%,
	5%,
	100% {
		transform: translateY( 0 )
	}
	25%,
	80% {
		transform: translateY( -66% )
	}
}

@keyframes scroll-barbecues {
	0%,
	5%,
	100% {
		transform: translateY( 0 )
	}
	25%,
	80% {
		transform: translateY( -66% )
	}
}

@-webkit-keyframes scroll-scoreboard {
	0%,
	10%,
	100% {
		transform: translateY( 0% )
	}
	33%,
	43% {
		transform: translateY( -34.6% )
	}
	66%,
	76% {
		transform: translateY( -72.8% )
	}
}

@keyframes scroll-scoreboard {
	0%,
	10%,
	100% {
		transform: translateY( 0% )
	}
	33%,
	43% {
		transform: translateY( -34.6% )
	}
	66%,
	76% {
		transform: translateY( -72.8% )
	}
}

@-webkit-keyframes scroll-adoption {
	0%,
	10%,
	100% {
		transform: translateY( -1.5% )
	}
	33%,
	43% {
		transform: translateY( -26% )
	}
	66%,
	76% {
		transform: translateY( -54% )
	}
}

@keyframes scroll-adoption {
	0%,
	10%,
	100% {
		transform: translateY( -1.5% )
	}
	33%,
	43% {
		transform: translateY( -26% )
	}
	66%,
	76% {
		transform: translateY( -54% )
	}
}

.portfolio {
	margin: 4.8rem 0 0
}

.portfolio ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap
}

.portfolio li {
	position: relative;
	display: flex;
	width: 50%;
	z-index: 1
}

.portfolio li a {
	border: 0;
	padding: 4.8rem;
	width: 100%;
	transition: padding .2s, transform .2s, box-shadow .2s
}

.portfolio li:hover {
	z-index: 2
}

[data-touch=false] .portfolio li:not(.filler):hover a {
	transform: scale(1.02);
	box-shadow: 0 0 .8rem rgba(0, 0, 0, .33);
}

.portfolio li a [data-device] {
	animation-play-state: running
}

.portfolio article {
	justify-content: space-between;
	width: 100%;
	height: 100%;
  padding: 6% 0 8% 0;
}

.portfolio header {
	padding: 0
}

.portfolio h1,
[data-page=work] .header h1 {
	display: flex;
	align-self: flex-start;
	text-align: left;
	padding: .4em 0;
	width: 66.666%
}

[data-page=work] .header h1 {
	padding-bottom: 0;
}

.composition {
	position: relative;
	flex-direction: row;
	display: flex;
	align-content: flex-end;
	width: 100%
}

.composition [data-device] {
	align-self: center;
	max-width: 100%;
	width: 100%;
}

.composition [data-device=phone] {
	position: relative;
	align-self: flex-end;
	transform: translateX(-15%) translateY(8.45070422535%);
	max-width: 25%;
	margin-left: -25%
}

.composition [data-device=phone][data-frame] {
	transform: translateX(-15%) translateY(15.7894%)
}

[data-frame=phone] {
	border-radius: 8px;
	background: rgba(0, 0, 0, 1);
	padding: 0 .66%
}

[data-frame=tablet] {
	border-radius: 8px;
	background: rgba(0, 0, 0, .75);
	padding: 1.32% 6%
}

[data-frame=phone]::after,
[data-frame=phone]::before {
	content: '';
	display: block;
	height: 0;
	padding-top: 15%;
	width: 100%
}

.client {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1em;
}

.client time::before {
	content: '—';
	position: relative;
	bottom: .25em;
	margin: 0 .75em;
	font-size: 66.666%
}

.portfolio .filler {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, .05)
}

.portfolio .filler p {
	font-family: 'League Spartan', sans-serif
}

.portfolio .filler:nth-child( odd) {
	display: none
}

.column-container {
	display: flex;
	flex-direction: row
}

[data-page=work] .cover {
	margin-bottom: 14.4rem
}

[data-page=work] .header {
	color: #fff;
	padding-bottom: 4.8rem
}

[data-page=work] .header .button {
	position: absolute;
	display: inline-flex;
	justify-self: flex-end;
	align-self: flex-end;
	bottom: 0;
	margin: 0 0 2em;
	border-color: #fff;
	color: #fff
}

@media (max-width:960px) {
	[data-page=work] .header .button {
    margin: 0 0 1.4em
	}
}

@media (max-width:960px) {
	[data-page=work] .header .button {
    margin: 0 0 1.2em
	}
}

[data-touch=false] [data-page=work] .header .button:hover,
[data-touch=true] [data-page=work] .header .button:active {
	background: rgba(255, 255, 255, 1);
	color: #000
}

.feature {
	padding: 9.6rem 0;
	margin-bottom: 14.4rem
}

.feature .shots {
	display: flex;
	flex-direction: row;
	justify-content: space-around
}

.feature .shots figure {
	max-width: 25%
}

.feature .background {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.background img {
	object-fit: cover
}

.background+.contain .caption p {
	color: #fff
}

.caption {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 9.6rem
}

.media .caption {
	padding-top: 4.8rem
}

.column {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%
}

@media (max-width:960px) {
	.portfolio li a {
		padding: 3.2rem
	}
}

@media (max-width:720px) {
	.portfolio li {
		width: 100%
	}
	.portfolio li a {
		padding: 4.8rem
	}
	.feature {
		padding: 4.8rem 0;
		margin-bottom: 9.6rem
	}
	.caption {
		padding-top: 4.8rem
	}
	.portfolio .filler {
		display: none
	}
}

@media (max-width:520px) {
	.portfolio li a {
		padding: 3.2rem
	}
	.feature {
		margin-bottom: 7.2rem
	}
	.contain {
		padding: 0 3.2rem
	}
	.column-container {
		flex-direction: column
	}
	[data-page=work] .header .button {
		position: relative;
		align-self: flex-start;
		margin: 1em 0 0
	}
	[data-page=work] .cover {
		padding: 4.8rem 0;
		margin-bottom: 9.6rem
	}
	[data-page=work] .header h1 {
		width: 100%
	}
}

@media (max-width:480px) {
	.portfolio li a {
		padding: 2.4rem
	}
	.contain {
		padding: 0 2.4rem
	}
}

@media (max-width:360px) {
	.portfolio li a {
		padding: 2.1rem
	}
	.contain {
		padding: 0 2.1rem
	}
	[data-page=work] .header h1 {
		font-size: 3.2rem
	}
}

.profile {
	margin: 0 auto;
	width: 12.8rem;
	height: 12.8rem;
	border-radius: 50%;
	overflow: hidden;
}

#about .button {
	margin: 12rem 0 0
}

footer .content {
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%
}

.list,
footer .content>div {
	display: -webkit-flex;
	display: -ms-flexbox
}

footer .content>div {
	display: flex;
	-webkit-align-items: baseline;
	-ms-flex-align: baseline;
	align-items: baseline
}

footer .content>div+div::before {
	content: '—';
	margin: 0 2.4rem;
	font-size: 80%;
	opacity: 0
}

footer .button,
footer .button+.button {
	margin-top: 0;
	margin-bottom: 0
}

footer .button+.button {
	margin-left: 2.4rem
}

footer .email a,
footer .phone a {
	font-weight: 400;
	border-color: transparent;
	transition: border-color .4s
}

.phone a {
	font-size: 80%
}

[data-touch=false] footer .email a:hover,
[data-touch=false] footer .phone a:hover {
	border-color: currentColor
}

@media (max-width:720px) {
	footer .content {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column
	}
	footer .content>div+div::before {
		display: none
	}
	footer .content>div+div {
		margin: 2.4rem 0 0
	}
}

[data-project=barbecues] .cover,
[data-project=barbecues]>a:first-child:last-child {
	background: #a87094
}

[data-project=scoreboard] .cover,
[data-project=scoreboard]>a:first-child:last-child {
	background: #75c9ee
}

[data-project=scoreboard] [data-device=notebook] .screen::before {
	content: '';
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url(../img/portfolio/estadao/scoreboard/001-b.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 2;
}

[data-project=scoreboard] [data-device=phone] .screen {
	background-image: url(../img/portfolio/estadao/scoreboard/002.jpg);
	background-position: center 49.2%
}

[data-project=microcephaly] .cover,
[data-project=microcephaly]>a:first-child:last-child {
	background: #69a6fc
}

[data-project=montadino] .cover,
[data-project=montadino]>a:first-child:last-child {
	background: #ff9a99
}

[data-project=uva] .cover,
[data-project=uva]>a:first-child:last-child {
	background: #907ea5
}

[data-project=camping] .cover,
[data-project=camping]>a:first-child:last-child {
	background: #f8c794;
}

[data-project=camping] [data-device=phone] .screen video {
	background-color: black;
}

[data-project=adoption] .cover,
[data-project=adoption]>a:first-child:last-child {
	background: #84a86c;
}

[data-project=adoption] [data-device=phone] .screen video {
	background-color: black;
}

[data-project=faceapp] .cover,
[data-project=faceapp]>a:first-child:last-child {
	background: #f2cbaf
}

[data-project=faceapp] [data-device=notebook] .screen {
	background-image: url(../img/portfolio/estadao/faceapp/001.gif);
	background-position: center center;
	background-color: white;
	background-size: 50%;
}

[data-project=faceapp] [data-device=phone] .screen {
	background-image: url(../img/portfolio/estadao/faceapp/002.png);
}

.content .screen {
	background-image: none !important;
}

.portfolio li,
nav a,
h1,
[data-page="work"] .cover,
[data-page="work"] .cover .button,
[data-page="work"] .composition,
[data-page="work"] .client,
.news {
	opacity: 0;
	-webkit-transform: translateY(12.5%);
	transform: translateY(12.5%);
	-webkit-animation: fade-up .4s forwards;
	animation: fade-up .4s forwards
}

/* nav li:nth-child( 1) a {
	-webkit-animation-delay: .4s;
	animation-delay: .4s
}

nav li:nth-child( 2) a {
	-webkit-animation-delay: .6s;
	animation-delay: .6s
}

nav li:nth-child( 3) a {
	-webkit-animation-delay: .8s;
	animation-delay: .8s
} */

h1 {
	-webkit-animation-delay: 1s;
	animation-delay: .4s
}

.news {
	-webkit-animation-delay: 1s;
	animation-delay: .6s
}

[data-page="work"] .cover {
	-webkit-animation-delay: 1s;
	animation-delay: .2s
}

[data-page="work"] .client {
	-webkit-animation-delay: 1.2s;
	animation-delay: .4s;
}

[data-page="work"] h1 {
	-webkit-animation-delay: 1.4s;
	animation-delay: .6s;
}

[data-page="work"] .cover .button {
	-webkit-animation-delay: 1.6s;
	animation-delay: .8s;
}

[data-page="work"] .composition {
	-webkit-animation-delay: 1.8s;
	animation-delay: 1s;
}

.portfolio li:nth-child( 1) {
	-webkit-animation-delay: 1.2s;
	animation-delay: .8s
}

.portfolio li:nth-child( 2) {
	-webkit-animation-delay: 1.4s;
	animation-delay: 1s
}

.portfolio li:nth-child( 3) {
	-webkit-animation-delay: 1.6s;
	animation-delay: 1.2s
}

.portfolio li:nth-child( 4) {
	-webkit-animation-delay: 1.8s;
	animation-delay: 1.4s
}

.portfolio li:nth-child( 5) {
	-webkit-animation-delay: 2s;
	animation-delay: 2s
}

.portfolio li:nth-child( 6) {
	-webkit-animation-delay: 2.2s;
	animation-delay: 2.2s
}

.portfolio li:nth-child( 7) {
	-webkit-animation-delay: 2.4s;
	animation-delay: 2.4s
}

.portfolio li:nth-child( 8) {
	-webkit-animation-delay: 2.6s;
	animation-delay: 2.6s
}

.portfolio li:nth-child( 9) {
	-webkit-animation-delay: 2.8s;
	animation-delay: 2.8s
}

.portfolio li:nth-child(10) {
	-webkit-animation-delay: 3s;
	animation-delay: 3s
}

@-webkit-keyframes fade-up {
	0% {
		opacity: 0;
		-webkit-transform: translateY(12.5%);
		transform: translateY(12.5%)
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@keyframes fade-up {
	0% {
		opacity: 0;
		-webkit-transform: translateY(12.5%);
		transform: translateY(12.5%)
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

.list {
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	margin: 0
}

.list li {
	position: relative;
	margin-left: 4.8rem
}

.list li::before {
	content: '—';
	position: absolute;
	left: 0;
	margin-left: -4.8rem
}

.list li+li {
	margin-top: 2.4rem
}

.list.results {
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 2.4rem
}

.list.results li {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0;
	padding: 1.6rem 2.4rem
}

.list.results li .label {
	text-align: center;
}

i.approx::before,
i.decrease::before,
i.kilos::before,
i.minus::before,
i.minutes::before,
i.plus::before {
	margin: 0 .2em
}

.list.results li+li {
	border-left: .2rem solid rgba(0, 0, 0, .05)
}

.list.results li::before {
	display: none
}

@media (max-width:520px) {
	.list.results li {
		padding: 1.6rem
	}
}

i.decrease::before,
i.increase::before {
	content: '➔'
}

strong.number {
	font-size: 150%;
	font-family: League Spartan
}

i.approx::before,
i.decrease::before,
i.increase::before,
i.kilos::before,
i.minus::before,
i.minutes::before,
i.percent::before,
i.plus::before {
	font-style: initial;
	font-size: 66.666%
}

i.increase::before {
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-transform: rotate(-90deg) translateX(20%);
	transform: rotate(-90deg) translateX(20%)
}

i.decrease::before {
	display: inline-flex;
	-webkit-transform: rotate(90deg) translateX(-20%);
	transform: rotate(90deg) translateX(-20%)
}

i.plus::before {
	content: '+';
	display: inline-flex;
	-webkit-transform: translateY(-10%);
	transform: translateY(-10%)
}

i.minus::before {
	content: '–';
	display: inline-flex;
	-webkit-transform: translateY(-20%);
	transform: translateY(-20%)
}

i.percent::before {
	content: '%';
	display: inline-flex;
	margin: 0 .2em
}

i.minutes::before {
	content: 'min';
	display: inline-flex
}

i.kilos::before {
	content: 'k';
	display: inline-flex
}

i.approx::before {
	content: '≈';
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex
}

.dom-highlighter-container {
	display: none
}

/* news */

.news {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 0 0 7.2rem;
}

.news header {
	padding: 2.4rem 0;
}

.news header h4 {
	align-self: flex-start;
}

.news .complement span:not(.emoji) {
	font-size: 80%;
	text-transform: uppercase;
	font-weight: bold;
	color: rgba( 0, 0, 0, .25 );
}
/*
.news .swiper-container {
  margin-left: initial;
  margin-right: initial;
}

.news .swiper-slide {
	background: pink;
	max-width: calc( 36rem + 3.6rem);
}

.news .swiper-slide .contain {
	margin: initial;
	padding-right: 0;
}

.news .swiper-slide .news-item {
	align-self: flex-start;
	width: 100%;
	min-width: 28.8rem;
	max-width: 36rem;
	background: #eee
}

@media (max-width: 640px) {
	.news .swiper-slide .news-item {
		max-width: 28.8rem;
	}
}
*/

.news .news-list {
	margin: 0 auto;
	width: 100%;
	max-width: calc(128rem + 14.4rem);
	overflow-x: auto;
	padding-bottom: 2.4rem;
}

.news .news-list .news-group {
	min-width: 100%;
	display: flex;
	flex-direction: row;
}

.news .contain {
	margin: 0 auto;
	padding-right: 0;
}

.news .contain p {
	align-self: flex-start;
	max-width: calc( 36rem * .8 );
	font-size: 80%;
	line-height: 1.5;
}

.news .news-item {
	align-self: flex-start;
	flex-shrink: 0;
}

@media (max-width: 920px) {
	.news .news-list {
		overflow-y: scroll;
  	-webkit-overflow-scrolling: touch;
	}

	.news .news-item:last-child {
		width: 100vw;
	}

	.news .contain p {
		max-width: calc( 28.8rem );
	}
}

@media (max-width: 720px) {
	.news .contain p {
		font-size: 90%;
	}
}

@media (max-width: 400px) {
	.news .contain p {
		font-size: 100%;
	}
}

/* embeds */

.spotify {
	max-width: 57.6rem;
	margin: 7.2rem auto;
}

/* custom pages */

[data-project=adoption] [data-adoption-explainer] {
	position: relative;
}

[data-project=adoption] [data-adoption-explainer="age"]::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url(../img/portfolio/estadao/adoption/branch-age.gif);
	background-repeat: no-repeat;
	background-position: center 37%;
	background-size: 20%;
}

[data-project=adoption] [data-adoption-explainer="disability"]::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url(../img/portfolio/estadao/adoption/branch-disability.gif);
	background-repeat: no-repeat;
	background-position: center 37%;
	background-size: 20%;
}

[data-project=adoption] [data-adoption-explainer="siblings"]::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url(../img/portfolio/estadao/adoption/branch-siblings.gif);
	background-repeat: no-repeat;
	background-position: center 43%;
	background-size: 20%;
}
