/* Variables */

:root {
  --line-height-title: 1.2;
  --line-height-text: 1.5;

  --thickness: 2px;

  --size-5: 0.5rem;
  --size-10: 1rem;
  --size-20: 2rem;
  --size-30: 3rem;
  --size-40: 4rem;
  --size-50: 5rem;
  --size-60: 6rem;
  --size-80: 8rem;
  --size-100: 10rem;
  --size-120: 12rem;
  --size-160: 16rem;
  --size-200: 20rem;
  --size-320: 32rem;

  --zoom-100: calc(10 / 16 * 100%); /* Pixel-perfect design for 1280w */
  --zoom-90: calc(9 / 16 * 100%);
  --zoom-80: calc(8 / 16 * 100%);

  --tint-0: #ffffff; /* rgba( 0, 0, 0, 0 ) */
  --tint-5: #f2f2f2; /* rgba( 0, 0, 0, .05 ) */
  --tint-10: #e6e6e6; /* rgba( 0, 0, 0, .1 ) */
  --tint-25: #bfbfbf; /* rgba( 0, 0, 0, .25 ) */
  --tint-33: #aaaaaa; /* rgba( 0, 0, 0, .333 ) */
  --tint-50: #808080; /* rgba( 0, 0, 0, .5 ) */
  --tint-66: #555555; /* rgba( 0, 0, 0, .666 ) */
  --tint-75: #404040; /* rgba( 0, 0, 0, .75 ) */
  --tint-90: #1a1a1a; /* rgba( 0, 0, 0, .90 ) */
  --tint-95: #0d0d0d; /* rgba( 0, 0, 0, .95 ) */
  --tint-100: #000000; /* rgba( 0, 0, 0, 1 ) */

  --theme-epicenter: #d6c2b0;
  --theme-supertunnel: #d97689;
  --theme-adoption: #84a86c;
  --theme-barbecues: #a87094;
  --theme-faceapp: #f2cbaf;
  --theme-vaccination: #81c8e9;

  --theme-montadino: #ffc4c3;
}

/* Reset */

*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  backface-visibility: hidden;
}

img,
video,
figure {
  display: flex;
}

a {
  display: inline-flex;
  color: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

/* Accessibility */

.screen-reader {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Wireframe */

* {
  /* box-shadow: 0 0 0 1px magenta, inset 0 0 0 1px magenta; */
}

/* Overflow */

html,
body {
  width: 100%;
  max-width: 100%;
}

/* Scale */

html {
  font-size: var(--zoom-100);
}

@media (max-width: 1279px) {
  html {
    font-size: var(--zoom-90);
  }
}

@media (max-width: 1152px) {
  html {
    font-size: var(--zoom-80);
  }
}

/* Selection */

::selection {
  background: rgba(0, 0, 0, 0.1);
}

/* Abbreviations */

abbr {
  cursor: help;
}

/* Typography */

@font-face {
  font-family: "League Spartan";
  src: url("../fonts/league-spartan-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "League Spartan";
  src: url("../fonts/league-spartan-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Fanwood Text";
  src: url("../fonts/fanwood-text-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

i,
em {
  font-family: "Fanwood Text";
  font-style: italic;
}

body {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: calc(var(--size-40) / var(--line-height-text));
  line-height: var(--line-height-text);
  color: var(--tint-100);
}

.highlights li,
p,
figcaption {
  color: var(--tint-66);
}

p strong,
figcaption strong {
  color: var(--tint-100);
  font-weight: bold;
}

[data-template="home"] header p {
  color: var(--tint-100);
}

h1,
h2,
h3 {
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: var(--line-height-title);
}

h1 {
  font-size: calc(var(--size-80) / var(--line-height-title));
}

h2 {
  text-align: center;
  font-size: calc(var(--size-60) / var(--line-height-title));
}

ul h2 {
  text-align: unset;
}

.highlights li,
figcaption {
  text-align: center;
}

.highlights li,
figcaption,
cite,
footer {
  font-size: calc(var(--size-30) / var(--line-height-text));
}

header p,
article li {
  font-size: calc(var(--size-50) / var(--line-height-text));
}

header .label,
h3,
.button {
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: calc(var(--size-30) / var(--line-height-text));
  color: var(--tint-100);
}

.badge {
  font-size: smaller;
  background: rgba(128, 128, 128, 0.25);
  border-radius: 4px;
  padding: 0.4em 0.4em 0.2em;
  text-transform: initial;
  opacity: 0.5;
}

@media (max-width: 768px) {
  h1 {
    font-size: calc(var(--size-60) / var(--line-height-title));
  }
}

@media (max-width: 640px) {
  [data-template="home"] h1 {
    font-size: calc(var(--size-50) / var(--line-height-title));
  }

  h2 {
    font-size: calc(var(--size-50) / var(--line-height-title));
  }

  header p,
  article li {
    font-size: calc(var(--size-40) / var(--line-height-text));
  }
}

/* Divider  */

hr {
  border: none;
}

hr::before {
  content: "";
  display: flex;
  height: var(--thickness);
  width: 100%;
  background: var(--tint-5);
}

/* Themes */

[data-theme="epicenter"] {
  background: var(--theme-epicenter);
}
[data-theme="supertunnel"] {
  background: var(--theme-supertunnel);
}
[data-theme="adoption"] {
  background: var(--theme-adoption);
}
[data-theme="barbecues"] {
  background: var(--theme-barbecues);
}
[data-theme="faceapp"] {
  background: var(--theme-faceapp);
}
[data-theme="vaccination"] {
  background: var(--theme-vaccination);
}
[data-theme="montadino"] {
  background: var(--theme-montadino);
}

/* Theme Adjustments */

[data-theme="vaccination"] video {
  background: #d8eef8;
}

/* Highlights */

.highlights {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--size-80) auto 0;
}

.highlights li + li {
  margin-top: var(--size-20);
}

/* Buttons */

.button {
  display: flex;
  align-items: center;
  align-self: flex-start;
  flex-shrink: 0;
  white-space: nowrap;
  padding: 0 2.5rem;
  border-radius: 2.5rem;
  border: var(--thickness) solid var(--tint-100);
  background: transparent;
  height: var(--size-50);
  cursor: pointer;
}

.button:not([disabled]):hover {
  background: var(--tint-100);
  color: var(--tint-0);
}

.button span {
  margin: 0.1em 0 -0.1em;
  user-select: none;
}

.button > * {
  pointer-events: none;
}

.button[disabled] {
  border: var(--thickness) dashed var(--tint-33);
  color: var(--tint-33);
  pointer-events: none;
}

/* Links */

a:not(.button) {
  position: relative;
  color: var(--tint-100);
}

a:not(.button) {
  font-weight: 700;
  cursor: pointer;
}

a:not(.button, .experiments)::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0.1em;
  left: 0;
  display: flex;
  height: var(--thickness);
  background: var(--tint-100);
}

a:not(.button, .experiments):hover {
  opacity: 0.5;
}

a.subtle {
  color: var(--tint-66);
  font-size: var(--size-20);
  font-variant: all-small-caps;
}

a.subtle::after {
  background: var(--tint-66);
}

a.subtle:hover {
  opacity: 1;
}

/* Call to Action  */

.call-to-action {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--size-40) auto;
  padding: var(--size-40) 0;
}

/* Clipboard */

.clipboard > span {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0 2.5rem;
  border-radius: 2.5rem;
  height: var(--size-50);
  background: var(--tint-5);
  color: var(--tint-66);
  cursor: text;
  user-select: all;
  margin-right: var(--size-10);
}

.clipboard.success button,
.clipboard.success button:hover {
  pointer-events: none;
  background: var(--tint-100);
  color: var(--tint-0);
  animation: pulse ease-out 0.6s;
}

.select {
  user-select: all;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2rem rgba(0, 0, 0, 0);
  }
}

/* Flow */

body,
footer,
.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.page {
  padding: var(--size-40) 0;
  background: var(--tint-0);
}

.flow {
  display: flex;
  flex-direction: column;
  padding: var(--size-20) 0;
  width: 100%;
}

.flow > * {
  max-width: 100%;
  padding: var(--size-20) var(--size-80);
}

.flow.full > * {
  padding: var(--size-20) 0;
}

.flow .flow > * {
  margin-right: 0;
  margin-left: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin-top: var(--size-120);
}

section section {
  margin: 0;
}

@media (max-width: 640px) {
  .flow {
    padding: var(--size-20) 0;
  }

  .flow > * {
    max-width: 100%;
    padding: var(--size-20) var(--size-40);
  }
}

/* Works  */

.works {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--size-120) var(--size-80) 0;
}

.works li {
  display: flex;
  margin: var(--size-40) auto;
  width: 100%;
}

.works li article {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.works li:nth-child(odd) article {
  display: flex;
  flex-direction: row-reverse;
}

.square {
  position: relative;
  width: 100%;
  padding: 0;
}

.square::before {
  content: "";
  display: flex;
  position: relative;
  height: 0;
  padding-top: 100%;
  flex-shrink: 0;
  min-width: 100%;
}

.square > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.square:first-child > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: var(--size-40) var(--size-60);
  background: var(--tint-5);
}

.works li h2,
.works li p,
.works li a {
  margin-top: var(--size-20);
}

.works li article > div:last-child {
}

@media (max-width: 1024px) {
  body * > ul.works {
    max-width: 80rem;
  }

  .works li article,
  .works li:nth-child(odd) article {
    flex-direction: column-reverse;
  }

  .works li article .square:first-child::before {
    display: none;
  }

  .works li article .square:first-child > * {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 640px) {
  .works {
    padding: var(--size-80) var(--size-20);
  }

  .works li article .square:first-child > * {
    padding: var(--size-40) var(--size-40);
  }
}

/* Media  */

.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: var(--size-80) 0;
  width: 100%;
  max-width: 100%;
}

.media.compact {
  margin: 1em 0;
  align-items: start;
}

.media img,
.media video {
  align-self: center;
  width: 100%;
}

.media.round img {
  border-radius: 999rem;
}

figcaption {
  margin-top: var(--size-40);
}

.media.compact figcaption {
  text-align: left;
}

.media .group {
  display: flex;
}

.media .group .media {
  margin: 0;
}

.media .group .media {
  padding: 0 var(--size-10);
}

/* Sizing */

.full {
  width: 100%;
  padding: 0;
}

body *.max-100 {
  max-width: 10rem;
}

body *.max-200 {
  max-width: 20rem;
}

body *.max-300 {
  max-width: 30rem;
}

body *.max-400 {
  max-width: 40rem;
}

body *.max-600 {
  max-width: 60rem;
}

body *.max-800 {
  max-width: 80rem;
}

body *.max-1000 {
  max-width: 100rem;
}

body *.max-1280 {
  max-width: 128rem;
}

body *.max-1920 {
  max-width: 192rem;
}

/* Devices */

.square figure,
.square figure::before,
.square figure::after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.square[data-device="phone"] figure::before {
  background-image: url(../media/devices/fill-phone.svg);
}

.square[data-device="phone"] figure::after {
  background-image: url(../media/devices/frame-phone.svg);
}

.square[data-device="phone-tablet"] figure::before {
  background-image: url(../media/devices/fill-phone-tablet.svg);
}

.square[data-device="phone-tablet"] figure::after {
  background-image: url(../media/devices/frame-phone-tablet.svg);
}

.square[data-device="laptop"] figure::before {
  background-image: url(../media/devices/fill-laptop.svg);
}

.square[data-device="laptop"] figure::after {
  background-image: url(../media/devices/frame-laptop.svg);
}

.square[data-device="phone"] figure video,
.square[data-device="phone"] figure img {
  position: absolute;
  top: 15%;
  left: 33.836%;
  width: 32.328%;
  height: 70%;
}

.square[data-device="phone-tablet"] figure video:nth-child(1),
.square[data-device="phone-tablet"] figure img:nth-child(1) {
  position: absolute;
  top: 15%;
  left: 31.5%;
  width: 52.5%;
  height: 70%;
}

.square[data-device="phone-tablet"] figure video:nth-child(2),
.square[data-device="phone-tablet"] figure img:nth-child(2) {
  position: absolute;
  top: 44%;
  left: 15.05%;
  width: 19.4%;
  height: 42%;
}

.square[data-device="laptop"] figure video,
.square[data-device="laptop"] figure img {
  position: absolute;
  top: 28.125%;
  left: 15%;
  width: 70%;
  height: 43.75%;
}

.square:not([data-device]) figure img {
  width: 80%;
}

[data-template="work"] .square[data-device="laptop"]::before {
  padding-top: 76.2%;
}

[data-template="work"] .square[data-device="laptop"] figure video,
[data-template="work"] .square[data-device="laptop"] figure img {
  top: 19.685%;
  left: 15%;
  width: 70%;
  height: 57.415%;
}

[data-template="work"] .square[data-device="laptop"] figure::before,
[data-template="work"] .square[data-device="laptop"] figure::after {
  background-position: 50% 55%;
}

[data-template="work"] .square:not([data-device]),
[data-template="work"] .square[data-device="phone"] {
  max-width: 80rem;
}

@media (max-width: 512px) {
  [data-template="work"] .square[data-device="phone"]::before {
    padding-top: 200%;
  }

  [data-template="work"] .square[data-device="phone"] figure video,
  [data-template="work"] .square[data-device="phone"] figure img {
    transform: scale(2);
  }
}

/* Navigation */

nav.full {
  display: flex;
  flex-direction: row;
  padding: var(--size-40) var(--size-80);
  max-width: calc(128rem + 16rem);
}

nav a::after {
  display: none !important;
}

@media (max-width: 640px) {
  nav.full {
    padding: var(--size-40);
  }
}

/* Experiments Link */

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

a.experiments {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-120);
  aspect-ratio: 1;
}

a.experiments .button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 0;
  aspect-ratio: 1;
  z-index: 1;
}

a.experiments svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: spin 6s linear infinite;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.01em;
}

/* Cover (Home) */

[data-template="home"] .cover {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: var(--size-40);
}

[data-template="home"] .cover > *:not(.animation),
[data-template="home"] .cover > *:not(.animation) * {
  pointer-events: none !important;
}

[data-template="home"] .cover nav {
  visibility: hidden;
  z-index: 3;
}

[data-template="home"] .cover > header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - calc(calc(40px * 6) * 1));
  z-index: 2;
}

[data-template="home"][data-browser="safari"] .cover > header {
  min-height: calc(80vh - calc(calc(40px * 6) * 1));
}

@media (max-width: 1279px) {
  [data-template="home"] .cover > header {
    min-height: calc(100vh - calc(calc(40px * 6) * 0.9));
  }

  [data-template="home"][data-browser="safari"] .cover > header {
    min-height: calc(80vh - calc(calc(40px * 6) * 0.9));
  }
}

@media (max-width: 1152px) {
  [data-template="home"] .cover > header {
    min-height: calc(100vh - calc(calc(40px * 6) * 0.8));
  }

  [data-template="home"][data-browser="safari"] .cover > header {
    min-height: calc(80vh - calc(calc(40px * 6) * 0.8));
  }
}

@media (max-width: 768px) {
  [data-template="home"] .cover h1 br {
    display: none;
  }
}

@media (prefers-reduced-motion) {
  [data-template="home"] .cover .animation-track {
    display: none;
  }
  a.experiments svg {
    animation: none;
  }
}

/* Cover (Work) */

[data-template="work"] > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--size-80);
}

[data-template="work"] > header p {
  margin: var(--size-80) auto 0;
  text-align: center;
}

[data-template="work"] .cover {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: var(--size-60);
  padding-bottom: 0;
}

[data-template="work"] .cover h1,
[data-template="work"] .cover .label {
  max-width: 80rem;
  padding-bottom: 0;
  color: var(--tint-100);
}

[data-template="work"] .cover[data-theme] h1,
[data-template="work"] .cover[data-theme] .label {
  color: var(--tint-0);
}

@media (max-width: 640px) {
  [data-template="work"] > header {
    padding: 0 0 var(--size-80);
  }
}

/* Metrics  */

.metrics {
  display: flex;
  justify-content: center;
  margin: var(--size-80) 0;
}

.metrics li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: var(--size-20);
}

.metrics li + li {
  border-left: var(--thickness) solid var(--tint-5);
  margin-left: var(--size-20);
}

.metrics strong {
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: var(--line-height-title);
  font-size: calc(var(--size-60) / var(--line-height-title));
}

.metrics span {
  text-align: center;
  color: var(--tint-66);
}

@media (max-width: 640px) {
  .metrics strong {
    font-size: calc(var(--size-50) / var(--line-height-title));
  }
}

/* Quotes */

blockquote {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: var(--size-80) 0;
}

blockquote p {
  font-weight: bold;
  color: var(--tint-100);
}

blockquote cite {
  color: var(--tint-66);
  margin-top: var(--size-20);
}

blockquote p::before {
  content: "“";
  position: absolute;
  top: 0;
  font-size: 2em;
  left: calc(var(--size-60) * -1);
  line-height: 1.2;
}

blockquote p,
blockquote cite {
  position: relative;
  width: calc(100% - var(--size-60));
}

/* Footer  */

footer {
  margin-top: var(--size-120);
  padding-top: var(--size-40);
  text-align: center;
  border-top: var(--thickness) solid var(--tint-5);
}

footer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer li {
  margin: var(--size-10);
}

/* Embed */

.embed {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: var(--size-80) 0;
}

/* List */

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin: var(--size-80) 0;
  color: var(--tint-66);
}

.list li {
  position: relative;
  width: calc(100% - var(--size-60));
}

.list li::before {
  content: "—";
  position: absolute;
  left: calc(var(--size-60) * -1);
}

.list li + li {
  margin-top: var(--size-20);
}

/* Entrance FX */

.entrance,
.flow > *,
.works li {
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

[data-entrance="false"] .entrance,
[data-entrance="false"] .flow > *,
[data-entrance="false"] .works li {
  transform: translateY(var(--size-40));
  opacity: 0;
}

@media (prefers-reduced-motion) {
  .entrance,
  .flow > *,
  .works li {
    transition: none;
  }

  [data-entrance="false"] .entrance,
  [data-entrance="false"] .flow > *,
  [data-entrance="false"] .works li {
    transform: none;
    opacity: 1;
  }
}

/* Animation */

.animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: var(--tint-5);
  overflow: hidden;
}

.animation-track {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: flex-start;
  animation-timing-function: ease-in;
  transform: translate(-50%, 100%);
}

[data-visibility="hidden"] .animation-track {
  animation-play-state: paused;
}

@keyframes float {
  0% {
    transform: translate(-50%, 100%);
  }
  100% {
    transform: translate(-50%, -100%);
  }
}

body *.animation-item {
  position: relative;
  width: 20vw;
  min-width: calc(1280px * 0.1);
  max-width: calc(1280px * 0.2);
  height: 20vw;
  min-height: calc(1280px * 0.1);
  max-height: calc(1280px * 0.2);
  transition: 0.4s;
  pointer-events: all !important;
  cursor: pointer;
}

.animation-item:hover {
  opacity: 0.5;
}

/* Dark mode */

body[data-mode="dark"] {
  background: var(--tint-100);
  color: var(--tint-0);
}

[data-mode="dark"] .highlights li,
[data-mode="dark"] p,
[data-mode="dark"] figcaption {
  color: var(--tint-33);
}

[data-mode="dark"] p strong,
[data-mode="dark"] figcaption strong {
  color: var(--tint-0);
}

[data-mode="dark"][data-template="home"] header p {
  color: var(--tint-0);
}

[data-mode="dark"] header .label,
[data-mode="dark"] h3,
[data-mode="dark"] .button {
  color: var(--tint-0);
}

[data-mode="dark"] .button:not([disabled]):hover {
  background: var(--tint-0);
  color: var(--tint-100);
}

[data-mode="dark"] .button[disabled] {
  border: var(--thickness) dashed var(--tint-66);
  color: var(--tint-66);
}

[data-mode="dark"] a:not(.button) {
  color: var(--tint-0);
}

[data-mode="dark"] a:not(.button, .experiments)::after {
  background: var(--tint-0);
}

[data-mode="dark"] a.subtle {
  color: var(--tint-33);
}

[data-mode="dark"] a.subtle::after {
  background: var(--tint-33);
}

[data-mode="dark"] .clipboard > span {
  background: var(--tint-90);
  color: var(--tint-33);
}

[data-mode="dark"] .clipboard.success button,
[data-mode="dark"] .clipboard.success button:hover {
  background: var(--tint-0);
  color: var(--tint-100);
}

[data-mode="dark"][data-template="work"] .cover h1,
[data-mode="dark"][data-template="work"] .cover .label {
  color: var(--tint-0);
}

[data-mode="dark"] .metrics span {
  color: var(--tint-33);
}

[data-mode="dark"] .metrics li + li {
  border-left: var(--thickness) solid var(--tint-90);
}

[data-mode="dark"] blockquote p {
  color: var(--tint-0);
}

[data-mode="dark"] blockquote cite {
  color: var(--tint-33);
}

[data-mode="dark"] .list {
  color: var(--tint-33);
}

[data-mode="dark"] ::selection {
  background: rgba(255, 255, 255, 0.2);
}

[data-mode="dark"]] hr::before {
  background: var(--tint-90);
}

[data-mode="dark"] .button {
  border: var(--thickness) solid var(--tint-0);
}

[data-mode="dark"] footer {
  border-top: var(--thickness) solid var(--tint-90);
}

/* Columns */

.columns img,
.columns video,
.columns iframe {
  display: flex;
  width: 100%;
  background: var(--tint-90);
  border-radius: var(--size-10);
  border: none;
  margin: 0;
}

.columns [data-ratio] {
  object-fit: contain;
}

.columns [data-ratio="2:3"] {
  aspect-ratio: 2/3;
}

.columns [data-ratio="16:9"] {
  aspect-ratio: 16/9;
}

.columns [data-ratio="8:5"] {
  aspect-ratio: 8/5;
}

.columns [data-ratio="1:1"] {
  aspect-ratio: 1/1;
}

.columns [data-ratio="9:16"] {
  aspect-ratio: 9/16;
}

.columns {
  column-count: auto;
  column-width: var(--size-320);
  column-gap: var(--size-20);
  margin: 0;
}

/* Column items */
.columns > .column-item {
  display: flex;
  flex-direction: column;
  border-radius: var(--size-10);
  margin: 0;
  padding-bottom: var(--size-20);
  break-inside: avoid;
}

.columns figcaption {
  margin: 0;
  padding: var(--size-10);
  text-align: left;
}

@media (max-width: 640px) {
  .columns {
    column-count: 2;
    column-width: auto;
  }
  .flow > .columns {
    padding: var(--size-20) var(--size-20);
  }
}

/* Breakpoints */

@media (max-width: 1536px) {
}

@media (max-width: 1408px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1152px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 896px) {
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
}

@media (max-width: 512px) {
}

@media (max-width: 384px) {
}
