/* Variables */

:root {

  --line-height-title: 1.2;
  --line-height-text:  1.5;

  --size-20:   2rem;
  --size-30:   3rem;
  --size-40:   4rem;
  --size-50:   5rem;
  --size-60:   6rem;
  --size-80:   8rem;
  --size-100: 10rem;
  --size-120: 12rem;
  --size-160: 16rem;
  --size-320: 32rem;

  --zoom-12: calc( 12 / 16 * 100% );
  --zoom-11: calc( 11 / 16 * 100% );
  --zoom-10: calc( 10 / 16 * 100% ); /* Designed for 1280w */
  --zoom-9:  calc(  9 / 16 * 100% );
  --zoom-8:  calc(  8 / 16 * 100% );
  --zoom-7:  calc(  7 / 16 * 100% );
  --zoom-6:  calc(  6 / 16 * 100% );
  --zoom-5:  calc(  5 / 16 * 100% );
  --zoom-4:  calc(  4 / 16 * 100% );



}

/* Reset */


/* General */

html {
  font-size: var(--zoom-10);
}

/* Typography */

@font-face {
  font-family: 'League Spartan';
  src: url('../fonts/league-spartan-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'League Spartan';
  src: url('../fonts/league-spartan-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Fanwood Text';
  src: url('../fonts/fanwood-text-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: 'League Spartan';
  font-weight: 400;
  font-size: calc( var(--size-40) / var(--line-height-text) );
  line-height: var(--line-height-text);
}

h1,
h2,
h3 {
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: var(--line-height-title);
}

figcaption,
cite {
  font-size: calc( var(--size-30) / var(--line-height-text) );
}

header p,
article li {
  font-size: calc( var(--size-50) / var(--line-height-text) ); 
}

header label {
  font-weight: 700;
  letter-spacing: 0.08em;
  font-size: calc( var(--size-30) / var(--line-height-text) );
  text-transform: uppercase;
}





/*@media ( max-width: 1536px ) {
  html {
    font-size: var(--zoom-12);
  }
}

@media ( max-width: 1408px ) {
  html {
    font-size: var(--zoom-11);
  }
}*/

@media ( max-width: 1280px ) {
  html {
    font-size: var(--zoom-10);
  }
}

@media ( max-width: 1152px ) {
  html {
    font-size: var(--zoom-9);
  }
}

@media ( max-width: 1024px ) {
  html {
    font-size: var(--zoom-8);
  }
}

@media ( max-width: 896px ) {
  html {
    font-size: var(--zoom-7);
  }
}

@media ( max-width: 768px ) {
  html {
    font-size: var(--zoom-6);
  }
}

@media ( max-width: 640px ) {
  html {
    font-size: var(--zoom-5);
  }
}

@media ( max-width: 512px ) {
  html {
    font-size: var(--zoom-4);
  }
}

@media ( max-width: 384px ) {
  html {
    font-size: var(--zoom-4);
  }
}
