/* Reset */

*,
:after,
:before {
	margin: 0;
	padding: 0;
	box-sizing: inherit
}

img,
video,
figure {
	display: flex;
}

/* Showcase */

.showcase {
	position: relative;
	background: #f5f5f5;
	overflow: hidden;
	width: 100%;
	height: calc( 100vh / 1.618 );
}

.showcase-track {
	position: absolute;
	top: 0;
	height: 100%;
	pointer-events: none;
	transform: translateY(  100% );
	animation-name: float;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-duration: 4s;

}


@keyframes float {
  0%   { transform: translateY(  100% ) }
  100% { transform: translateY( -100% ) }
}

.showcase-item {
	position: relative;
	top: 50%;
	left: 0;
	transform: translate( -50%, -50% );
	width: 20vw;
	min-width: calc( 1280px * .1 );
	max-width: calc( 1280px * .2 );
	height: 20vw;
	min-height: calc( 1280px * .1 );
	max-height: calc( 1280px * .2 );
	pointer-events: all;
}

.showcase-item a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
}


/* Temp */

.showcase-track:nth-child(1) .showcase-item {
	background: #d6c2b0;
}

.showcase-track:nth-child(2) .showcase-item {
	background: #d97689;
}

.showcase-track:nth-child(3) .showcase-item {
	background: #84a86c;
}

.showcase-track:nth-child(4) .showcase-item {
	background: #a87094;
}

.showcase-track:nth-child(5) .showcase-item {
	background: #f2cbaf;
}

.showcase-track:nth-child(6) .showcase-item {
	background: #ffcbca;
}