/* Reset */

*,
:after,
:before {
	margin: 0;
	padding: 0;
	box-sizing: inherit
}

img,
video,
figure {
	display: flex;
}

/* General */

html,
body {
	height: 100%;
}

/* Accessibility */

.screen-reader {
	position: absolute;
	top: auto;
	left: -10000px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* Showcase */

.showcase {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 75vh;
	background: #f5f5f5;
}

.showcase-track {
	position: absolute;
	top: 0;
	height: 100%;
	display: flex;
	align-items: center;
	pointer-events: none;
	animation-timing-function: ease-in;
	transform: translate( -50%, 100% );
}

@keyframes float {
  0%   { transform: translate( -50%,  100% ) }
  100% { transform: translate( -50%, -100% ) }
}

.showcase-item {
	position: relative;
	width: 20vw;
	min-width: calc( 1280px * .1 );
	max-width: calc( 1280px * .2 );
	height: 20vw;
	min-height: calc( 1280px * .1 );
	max-height: calc( 1280px * .2 );
	transition: .4s;
	pointer-events: all;
}

.showcase-item:hover {
	opacity: .5
}

.showcase-item a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
}

/* Temp */

.showcase-track:nth-child(1) .showcase-item {
	background: #d6c2b0;
}

.showcase-track:nth-child(2) .showcase-item {
	background: #d97689;
}

.showcase-track:nth-child(3) .showcase-item {
	background: #84a86c;
}

.showcase-track:nth-child(4) .showcase-item {
	background: #a87094;
}

.showcase-track:nth-child(5) .showcase-item {
	background: #f2cbaf;
}

.showcase-track:nth-child(6) .showcase-item {
	background: #ffcbca;
}
