*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --w: 312px;
  --h: var(--w);
  --r: 16px;
  --border: 0px solid Indigo;
}

body {
  background: Lavender;
  margin: 96px 24px;
}

.unfolding {
  cursor: pointer;
  display: block;
  height: var(--h);
  margin: 0 auto;
  perspective: 1000px;
  perspective-origin: top;
  position: relative;
  width: var(--w);

  .card {
    height: var(--h);
    position: relative;
    width: var(--w);

    .fold {
      height: calc(var(--h) / 2);
      perspective: 1000px;
      perspective-origin: top;
      pointer-events: none;
      width: var(--w);

      .paper {
        backface-visibility: hidden;
        background: Plum;
        border: var(--border);
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform: rotateX(0deg);
        transform-origin: center top;
      }

      &.upper .paper {
        border-radius: var(--r) var(--r) 0 0;
      }

      &.lower .paper {
        border-radius: 0 0 var(--r) var(--r);
      }
    }
  }

  .folds {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    .fold {
      height: calc(var(--h) / 2);
      perspective: 1000px;
      perspective-origin: top;
      pointer-events: none;
      width: var(--w);

      .paper {
        backface-visibility: hidden;
        background: Lavender;
        border: var(--border);
        bottom: 0;
        left: 0;

        position: absolute;
        right: 0;
        top: 0;
        transform: rotateX(-90deg);
        transform-origin: center top;
      }

      &:first-child .paper {
        border-radius: var(--r) var(--r) 0 0;
        transform-origin: center bottom;
      }

      &:last-child .paper {
        border-radius: 0 0 var(--r) var(--r);
      }
    }
  }
}
