* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: Coral;
  height: 100%;
  overflow: hidden;
}

.stalker {
  aspect-ratio: 1;
  background: Lavender;
  border-radius: 50%;
  left: 0%;
  position: fixed;
  top: 0%;
  translate: -50% -50%;
  user-select: none;
  width: 48px;
}
